<!DOCTYPE html>
<html lang="es">
	<head>
		<div th:replace="/fragments/header :: header-css"/>
		<title>Pagina principal del sistema</title>
	</head>
	<body>
		<div class="container-fluid">
		<div th:replace="/fragments/header :: header"/>
			<div class="jumbotron">
			  <h1 class="display-4">Hola!</h1>
			  <p class="lead">Este es un sistema de registro de usuarios y roles.</p>
			  <hr class="my-4">
			  <p>Está escrito en Java 1.8 con Spring boot 2.3.3 framework.</p>
			  <p>Utiliza las dependencias Spring MVC, Thymeleaf, Spring Data JPA y Spring Security</p>
			  
			</div>
		</div>	
		<div th:replace="/fragments/footer :: footer"/>
	</body>
</html>